<div class="row">
  <div class="title_container">
    <h1 class="text-center"><%= @category.localized_name %></h1>
    <%= link_to(t('item.add'), new_category_item_path) %>
  </div>
  <div>
    <% @items.each do |item| %>
    <%= cache item do %>
    <div class="small-6 medium-3 large-2 columns end">
      <% if false %>
      <% if Rails.env.development? || user_signed_in? %>
      <%= link_to(t('common.edit'), edit_category_item_path(@category, item)) %>
      <% end -%>
      <% end %>
      <h5 class="text-center"><%= item.localized_name %></h5>
      <%= image_tag(item.display_image) %>
    </div>
    <% end %>
    <% end -%>
  </div>

</div>
