<div class="row">
  <div class="back_button button small">
    <%= link_to(t('common.back'), root_path) %>
  </div>
  <div class="title_container">
    <h1 class="text-center"><%= @category.localized_name %></h1>
    <%= link_to(t('item.add_new',), new_category_item_path) %>
  </div>
</div>
  <%= render('shared/contents', contents: @items) %>

<% if false %>
  <% if Rails.env.development? || user_signed_in? %>
    <%= link_to(t('common.edit'), edit_category_item_path(@category, item)) %>
  <% end %>
<% end %>