<%
  category = local_assigns[:category]
  sub_categories_path = local_assigns[:sub_categories_path]
  items_path = local_assigns[:items_path]
%>
<div class="content_container text-center small-6 medium-3 large-3 columns end">
  <div class="content">
    <p class="title"><%= category.localized_name %></p>

    <% if sub_categories_path %>
      <%= link_to(sub_categories_path) do %>
        <%= image_tag(category.display_image) %>
      <% end -%>
    <% end -%>

    <% if items_path %>
      <%= link_to(items_path) do %>
        <%= image_tag(category.display_image) %>
      <% end -%>
    <% end -%>

    <!-- render items -->
    <% if category = category.try(:localized_description) %>
      <div class="description">
        <%= category%>
      </div>
    <% end %>
  </div>
</div>
