<div class="container">
  <h1 id="responive-breakpoints" class="text-center mt-4"><%= t('categories') %></h1>
  <div>
    <%= link_to('Add new category', new_category_path) %>
  </div>
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-sm-3 col-md-4 col-lg-3 mt-4">
        <div class="card-deck">
          <% if Rails.env.development? || user_signed_in? %>
          <%= link_to(t('common.edit'), edit_category_path(category)) %>
          <% end -%>
          <%= link_to(category_items_path(category)) do %>
            <div class="card">
              <div class="card-body">
                <p class="text-right">
                </p>
                <h5 class="card-title text-center mt-4"><%= category.localized_name %></h5>
                <%= image_tag("#{category.display_image}", class: "card-img-top mb-4") %>
              </div>
            </div>
          <% end -%>
        </div>
      </div>
    <% end -%>
  </div>
</div>