<div class="row">
  <div class="title_container">
    <h1><%= t('contact.title') %></h1>
  </div>
</div>

<div class="row">

  <div class="small-12 medium-6 medium-offset-3 columns">
    <%= form_for(@contact) do |f| %>
      <%= f.label(:name, t('contact.name')) %>
      <%= f.text_field(:name, required: true) %>
      <%= f.label(:email, t('contact.email')) %>
      <%= f.email_field(:email, required: true)  %>
      <%= f.label(:message, t('contact.message')) %>
      <%= f.text_area(:message, as: :text) %>
      <%= f.submit t('contact.submit'), class: "button" %>

      <div class="hidden">
        <%= f.label(:nickname) %>
        <%= f.text_field(:nickname, hint: 'Leave this field blank') %>
      </div>

    <% end -%>
  </div>
</div>

</div>