<div class="row">

  <div class="title_container">
    <h1 class="text-center"><%= t('contact.title') %></h1>
  </div>

  <div class="small-12 medium-6 columns">
    <%= form_for(@contact) do |f| %>
      <%= f.label(:name, t('contact.name')) %><br>
      <%= f.text_field(:name, required: true) %>

      <%= f.label(:email, t('contact.email')) %><br>
      <%= f.email_field(:email, required: true)  %>

      <%= f.label(:message, t('contact.message')) %>
      <%= f.text_area(:message, as: :text) %>

      <%= f.submit t('contact.submit'), class: "button" %>

      <div class="hidden">
        <%= f.label(:nickname) %>
        <%= f.text_field(:nickname, hint: 'Leave this field blank') %>
      </div>

    <% end -%>
  </div>

</div>