<div class="row">
  <div class="small-12 medium-8 medium-offset-2 columns">
    <%= form_for(@category) do |f| %>
      <%= f.label :name  %>
      <%= f.text_field :name, class: 'form-control', placeholder: "Enter name" %>
      <%= f.label :name_en  %>
      <%= f.text_field :name_en, class: 'form-control', placeholder: "Enter name_en" %>
      <%= f.label :image  %>
      <%= f.text_field :image, class: 'form-control', placeholder: "Enter image" %>
      <%= f.submit(t('form.create'), class: 'button') %>
      <%= link_to('Back', root_path, class: 'button secondary') %>
    <% end -%>
  </div>
</div>