<div class="row">
  <div class="title_container text-center">
    <h1 class="text-center"><%= t('category.add_new') %></h1>
  </div>
  <div class="small-12 medium-8 medium-offset-2 columns">
    <%= form_for(@category) do |f| %>
      <%= f.label :name  %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.label :name_ja  %>
      <%= f.text_field :name_ja, class: 'form-control' %>
      <%= f.label :image  %>
      <%= f.text_field :image, class: 'form-control' %>
      <%= f.submit(t('form.create'), class: 'button') %>
      <%= link_to(t('form.cancel'), root_path, class: 'button secondary') %>
    <% end -%>
  </div>
</div>