<div class="top-bar pc show-for-medium">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text"><%= link_to('Talkie Board', root_path, class: 'site_title') %></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="vertical medium-horizontal menu">
      <% if user_signed_in? || Rails.env.development? -%>
        <li><%= link_to(t('category.add_new'), new_category_path) %></li>
      <% end %>
      <li>
        <%= link_to("#{t('common.languages.switch', name: avilable_language_in_words)}",
                      switch_language_path(locale: avilable_language),
                      method: :put,
                      class: 'nav-link') %>
      </li>
    </ul>

  </div>
</div>

<div class="top-bar mobile show-for-small-only">
  <div class="row">
    <div class="columns small-6">
      <span class="menu-text"><%= link_to('Talkie Board', root_path, class: 'site_title') %></span>
    </div>
    <div class="columns small-6">
      <ul class="vertical menu accordion-menu show-for-small-only" data-accordion-menu>
        <li>
          <a href="#" class="left"><%= t('common.menu') %></a>
          <ul class="menu vertical nested">
            <li><%= link_to(t('category.add_new'), new_category_path) %></li>
            <li>
              <%= link_to("#{t('common.languages.switch', name: avilable_language_in_words)}",
                            switch_language_path(locale: avilable_language),
                            method: :put,
                            class: 'nav-link') %>
            </li>
            <li>
              <%= link_to(t('common.contact'), new_contact_path) %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>