<!DOCTYPE html>
<html lang="en">
  <head>
    <%= display_meta_tags(default_meta_tags) %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <%= render('layouts/nav_bar') %>
  <body>
    <section class="main_section">
      <%= yield %>
    </section>
  </body>
  <%= render('layouts/footer') %>
</html>
